doctype html
html(lang="en")
  head
    include partials/head
  body
    nav
      include partials/nav
    header
      include partials/header
    main
      include partials/event
      include partials/speakers
      include partials/schedule
      include partials/sponsors
    footer
      include partials/footer
    include partials/script